Requirements:

-6x6 grid
-X and O characters can be placed on the grid
-There is "gravity"-- you can pick the column to drop the character in, it drops to the lowest unoccupied spot
-When you get 4 in a row diagonally, horizontally, or vertically, you win
-There is a tie if you can no longer put more Xs or Os and no winner
-Curser to show what column to drop the character in? 
-Keyboard functionality? (arrow keys + Z?)
-Option to play again
 
      CONNECT FOUR
 --- --- --- --- --- ---
|   |   |   |   |   |   |
 --- --- --- --- --- ---
|   |   |   |   |   |   |
 --- --- --- --- --- ---
|   |   |   |   |   |   |
 --- --- --- --- --- ---
|   |   |   |   |   |   |
 --- --- --- --- --- ---
|   |   |   |   |   |   |
 --- --- --- --- --- ---
|   |   |   |   |   |   |
 --- --- --- --- --- ---

     \O/    <--Changes to \X/ for other player
 --- --- --- --- --- ---
|   |   |   |   |   |   |
 --- --- --- --- --- ---
|   |   |   |   |   |   |
 --- --- --- --- --- ---
|   |   |   |   |   |   |
 --- --- --- --- --- ---
|   | O |   |   |   |   |
 --- --- --- --- --- ---
|   | O | X |   |   |   |
 --- --- --- --- --- ---
| X | X | O |   |   |   |
 --- --- --- --- --- ---
